/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 颜色变量 */
@import './common/powerapp/css/_var.scss';
/* 行为相关颜色 */
$uni-color-primary: $pd-color-primary;
$uni-color-success: $pd-color-success;
$uni-color-warning: $pd-color-warning;
$uni-color-error: $pd-color-error;

/* 文字基本颜色 */
$uni-text-color:$pd-color;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-grey:$pd-color-gray;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: $pd-color-placeholder;
$uni-text-color-disable:$pd-color-disable;

/* 背景颜色 */
$uni-bg-color:$pd-bg;
$uni-bg-color-grey:$pd-bg-gray;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:$pd-bg-mask;//遮罩颜色

/* 边框颜色 */
$uni-border-color:#c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:24upx;
$uni-font-size-base:28upx;
$uni-font-size-lg:32upx;

/* 图片尺寸 */
$uni-img-size-sm:40upx;
$uni-img-size-base:52upx;
$uni-img-size-lg:80upx;

/* Border Radius */
$uni-border-radius-sm: $pd-radius-sm;
$uni-border-radius-base: $pd-radius;
$uni-border-radius-lg: $pd-radius-lg;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: $pd-spacing-row-sm;
$uni-spacing-row-base: $pd-spacing-row;
$uni-spacing-row-lg: $pd-spacing-row-lg;

/* 垂直间距 */
$uni-spacing-col-sm: $pd-spacing-col-sm;
$uni-spacing-col-base: $pd-spacing-col;
$uni-spacing-col-lg: $pd-spacing-col-lg;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: $pd-color-title; // 文章标题颜色
$uni-font-size-title:$pd-font-size-title;
$uni-color-subtitle: $pd-color-subtitle; // 二级标题颜色
$uni-font-size-subtitle:$pd-font-size-subtitle;
$uni-color-paragraph: $pd-font-size-subtitle; // 文章段落颜色
$uni-font-size-paragraph:$pd-font-size-subtitle;